# Database Configuration
POSTGRESQL_USERNAME=example
POSTGRESQL_PASSWORD=example
POSTGRESQL_DATABASE=example

# Prisma Configuration
DATABASE_URL="postgresql://example:example@localhost:5432/example?schema=public"

# Server Configuration
PORT=4000

# AWS S3 Configuration
S3_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET_NAME=