#Database Configuration
POSTGRESQL_USERNAME=
POSTGRESQL_PASSWORD=
POSTGRESQL_DATABASE=

#Prisma Configuration
DATABASE_URL=

#Better Auth Configuration
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
BETTER_AUTH_TRUSTED_ORIGIN=

#Google Configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Server Configuration
PORT=

# AWS S3 Configuration
S3_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET_NAME=

# GCS Configuration
GCS_BUCKET_NAME=
GCS_KEY_FILE=./key.json
GCS_PROJECT_ID=
